body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.welcome {
    font-weight: bold;
}

.page-title {
    font-size: 36px;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
}

.page-title::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 60px;
    height: 4px;
    background-color: #007bff;
    border-radius: 2px;
}

a {
    text-decoration: none;
}

.user-info {
    text-align: right;
    margin-bottom: 20px;
}

.search-write {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    align-items: center;
}

.search-write a {
    margin-left: 20px;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    width: 150px;
    height: 30px;
    box-sizing: border-box;
    text-align: left;
}

.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    height: 30px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    margin-left: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-logout {
    background-color: #7a3bd1;
    color: #fff;
    text-align: center;
    margin-left: 5px;
    height: 30px;
}

.btn-logout:hover {
    background-color: #6518dc;
}

.btn-info {
    background-color: #17a2b8;
    color: #fff;
    text-align: center;
    height: 30px;
    margin-left: 15px;
}

.writeBtn {
    transform: translateY(-8px);
}

.btn-info:hover {
    background-color: #117a8b;
}

.btn-search {
    height: 30px;
    width: 50px;
    margin-left: -5px;
    margin-right: -10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f9fa;
    font-weight: 600;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination ul {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.pagination li {
    display: inline;
    margin: 0 5px;
}

.pagination li.active a {
    font-weight: bold;
    color: #007bff;
}

.pagination a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #f8f9fa;
}

/* 모달 스타일 */
.modal {
    display: none; /* 기본적으로 보이지 않음 */
    position: fixed; /* 페이지 내 고정 위치 */
    z-index: 1; /* 다른 요소보다 위에 위치 */
    left: 0;
    top: 0;
    width: 100%; /* 전체 너비 */
    height: 100%; /* 전체 높이 */
    background-color: rgb(0,0,0); /* 배경색 */
    background-color: rgba(0,0,0,0.4); /* 약간의 투명도 추가 */
}

/* 모달 컨텐츠 스타일 */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 페이지 중앙에 위치 */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* 너비 설정 */
    height: 30%;
    display: flex; /* Flexbox 레이아웃 사용 */
    align-items: center; /* 수직 정렬 */
    justify-content: center; /* 수평 정렬 */
    position: relative; /* 상대 위치 */
}

/* 닫기 버튼 스타일 */
.close {
    color: #aaa;
    position: absolute; /* 절대 위치 */
    right: 10px; /* 우측에서 10px 떨어진 곳에 위치 */
    top: 10px; /* 상단에서 10px 떨어진 곳에 위치 */
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form {
    text-align: center;
    width: 100%; /* 전체 너비 사용 */
}