body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form {
    max-width: 500px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.idInput {
    display: flex;
    margin-bottom: -10px;
}

.checkIdBtn {
    font-size: 14px;
    width: 100px;
    height: 40px;
    background-color: #865bd8;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

.changeBtn {
    font-size: 15px;
    display: none;
    margin-left: 10px;
    width: 100px;
    height: 40px;
    background-color: #865bd8;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    border-radius: 5px;
}

.checkIdBtn:hover {
    background-color: #672bbf;
}

.changeBtn:hover {
    background-color: #672bbf;
}

.inputs {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    display: block;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #007bff;
}

.error {
    color: #dc3545;
}

.error-input {
    border-color: #dc3545;
}