<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
    <link rel="stylesheet" type="text/css" href="/css/writeForm.css">
</head>
<body>
<h2>게시글 작성</h2>
<hr>
<form action="/boards/write" method="post" th:object="${writeForm}">
    <input type="text" th:field="*{title}" placeholder="제목"> <br>
    <textarea th:field="*{content}" rows="10" placeholder="내용"></textarea> <br>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <div>
        <button type="submit">등록</button>
        <a href="/boards">취소</a>
    </div>
</form>
</body>
</html>